* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-1: #eff0f3;
	--color-2: #3F3D56;
	--color-3: #2a2a2a;
	--color-4: #ff8e3c;
	--color-5: #d9376e;

	--font-1: 'Ubuntu', sans-serif;
}

body {
	background-color: var(--color-1);
}

button:disabled img {
	opacity: 0.5;
	cursor: not-allowed;
}