* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-1);
}

:root {
	--color-1: #eff0f3;
	--color-2: #3F3D56;
	--color-3: #2a2a2a;
	--color-4: #ff8e3c;
	--color-5: #e4155a;

	--font-1: 'Ubuntu', sans-serif;
	--font-2: 'Fredoka One', cursive;
}

body {
	background-color: var(--color-1);
}

button:disabled img {
	opacity: 0.5;
	cursor: not-allowed;
}

.loading {
  animation: loading 1s both infinite;
  border: 8px solid lightgray;
  border-radius: 100%;
  border-top-color: var(--color-5);
  height: 80px;
  margin: auto;
  transition: 1s;
  width: 80px;
}

@keyframes loading {
  to {
    transform: rotate(2turn);
  }
}