header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  background-color: gray;
  height: 70px;
  z-index: 1;
}

header h1 {
  display: flex;
  align-items: center;
  width: 94%;
  text-indent: 20px;
}

.cart-button {
  width: 5%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-icon {
  width: 50%;
}

.items {
  background-color: rgba(255, 0, 0, 0.9);
	font-size: 0.8rem;
	color: white;
	border-radius: 100%;
	padding: 5px;
  position: absolute;
  right: 15px;
  top: 5px;
	min-width: 25px;
	min-height: 25px;
}
