.store {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-self: center;
  align-items: center;
  padding: 40px 0;
}

.search-bar * {
  height: 40px;
  outline: none;
}

.search-bar select {
  text-align: center;
  background-color: var(--color-2);
  color: var(--color-1);
  width: 120px;
  border-color: var(--color-2);
  border-radius: 5px 0 0 5px;
}

.search-bar input {
  padding: 0 10px;
  background-color: var(--color-1);
  color: var(--color-3);
  width: 300px;
  border: none;
  border-top: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
}

.search-bar button {
  background-color: var(--color-4);
  width: 40px;
  cursor: pointer;
  border: 1px solid var(--color-2);
  border-radius: 0 5px 5px 0;
}

.search-glass {
  height: 40%;
  filter: invert(100%) sepia(11%) saturate(2406%) hue-rotate(179deg)
    brightness(101%) contrast(90%);
}

.store-problem {
  font-weight: 100;
  color: var(--color-2);
  font-size: 3rem;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

.item-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 3px var(--color-3);
  width: 20%;
  height: 300px;
  background-color: white;
}

.item-card .item-image {
  width: 150px;
  padding-top: 5px;
}

.item-card .item-name {
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid var(--color-3);
  padding: 10px;
  width: 100%;
  color: var(--color-3);
}

.item-card .currency {
  color: var(--color-5);
  padding-right: 5px;
}

.item-card button {
  height: 40px;
  width: 100%;
  border: none;
  background-color: var(--color-4);
  cursor: pointer;
}

.item-card button img {
  height: 100%;
  filter: invert(100%) sepia(11%) saturate(2406%) hue-rotate(179deg)
    brightness(101%) contrast(90%);
}

@media screen and (max-width: 1200px) {
  .item-card {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .item-card {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .search-bar {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
  }

  .search-bar select,
  .search-bar select option {
    width: 100vw;
  }

  .search-bar input {
    width: 80vw;
  }

  .search-bar button {
    width: 20vw;
    border-radius: 0;
  }

  .item-card {
    width: 80%;
  }
}
